@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rohza+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #29264E;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 85%;
    height: 85%;
    margin: 0 auto;
    margin-top: 4%;
    border: solid black 1px;
    background-image: url(../images/mountain.jpg);
    background-color: #29264E;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container img {
    height: 170px;
    width: 180px;
    border-radius: 50%;
    border: solid black 2px;
    box-shadow: 0 0 10px rgba(73, 73, 73, 0.1);
}

.container form input[type="file"],
.container form input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #55BED2;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.container form input[type="file"]:hover,
.container form input[type="submit"]:hover {
    background-color: #52a4b5;
}

.container-2 {
    width: 85%;
    height: 85%;
    margin: 0 auto;
    margin-top: 2%;
    border: solid black 1px;
    background-image: url(stretch.png);
    background-color: #1A1741;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-2 h3{
    margin: 0;
    margin-left: 2%;
    color: #26B893;
}

.container-2 label {
    margin-left: 50px; 
    display: inline-block;
    font-size: 14px;
    color: white;
}

.openbtn{
    margin: 0 auto;
    margin-left: 94%;
    color: white;
    background-color: #55BED2;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    font-size: 18px;
}

button {
    margin-left: 85%;
    color: white;
    background-color: #55BED2;
    border: none;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    margin-top: 2%;
    font-size: 18px;
    text-decoration: none;
}

button:hover {
    background-color: #52a4b5;
    cursor: pointer;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    padding: 1px 16px;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: transparent;
    color: white;
    display: flex;
}

.modal-content {
    position: fixed;
    top: 20%;
    left: 32%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    width: 31%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.5s
}

.modal-body input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.modal-header button {
    margin-top: 3px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff0015;
    color: white;
    transition: background-color 0.3s ease;
    margin-left: 425px;
    height: 30px;
    width: 30px;
    border: black;
    border-width: 2px;
}

.modal-footer button {
    text-align: center;
    width: 60px;
    height: 40px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    margin-bottom: 10px;
}

.modal-footer button:hover {
    background-color: #0056b3;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }